body
{
    margin: 0;
}

.main
{
    height: 100vh;
    width: calc(100vw - 78px - 3%);

    margin-left: calc(78px + 3%);

    padding: 50px 50px 50px 25px;
    
    box-sizing: border-box;
}

.title
{
    color: #05570D;

    font-size: 30px;
    font-weight: 700;

    margin: 20px;
}

.certificados-container
{
    background-color: red;
    width: 100%;
    height: calc(100% - 100px);

    overflow: auto;
}

.certificado
{
    display: flex;

    justify-content: space-between;

    height: 150px;
    width: 750px;

    padding: 25px;

    background-color: #F5F5F7;

    border-radius: 20px;
}

.certificado-left
{
    display: flex;
}

.certificado-icon
{
    height: 100px;
    width: 100px;

    background-color: black;

    margin-right: 20px;
}

.certificado-text
{
    display: flex;

    flex-direction: column;

    justify-content: center;

    color: #05570D;
}